In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Ottawa bike thefts file to load 
o_theft_url = "Resources/ottawa_bike_theft.csv"

# Read file and store into Pandas data frame
o_theft_df = pd.read_csv(o_theft_url)
o_theft_df.head()

,X,Y,ID,Ottawa__Police_Division,Ottawa_Police_Sector,Report_Date,Incident_StartDate,Incident_EndDate,Weekday,Location_Type,...,Bicycle_Type,Bicycle_Frame,Bicycle_Colour,Bicycle_Speed,X.1,Y.1,Census_Tract_Unique_ID,Census_Tract_Name,Object_ID,OBJECTID
0,363023.6811,5015825.440,1,West,16,2-Aug-15,2-Aug-15,2-Aug-15,1,NaN,...,REGULAR,UNISEX,Grey,0.0,363023.6811,5015825.440,5050140.07,140.07,1,0
1,362414.6759,5014626.428,2,West,16,24-Aug-15,23-Aug-15,24-Aug-15,1,NaN,...,MOUNTAIN,MEN'S,"Black, Orange",21.0,362414.6759,5014626.428,5050140.04,140.04,2,1
2,363782.6879,5016896.451,3,West,16,25-Aug-15,31-Jul-15,1-Aug-15,6,NaN,...,BMX,MEN'S,White,1.0,363782.6879,5016896.451,5050140.03,140.03,3,2
3,361526.0460,5014725.228,4,West,16,19-Sep-15,18-Sep-15,NaN,6,NaN,...,HYBRID,WOMEN'S,Dark Blue,18.0,361526.0460,5014725.228,5050141.15,141.15,4,3
4,362697.6789,5015449.436,5,West,16,16-Nov-15,13-Nov-15,16-Nov-15,6,Schools,...,RACER,UNISEX,"Silver, Aluminum, Stainless Steel",10.0,362697.6789,5015449.436,5050140.07,140.07,5,4

In [3]:
# Vancouver bike thefts file to load 
v_theft_url = "Resources/vanc_bike_theft.csv"

# Read file and store into Pandas data frame
v_theft_df = pd.read_csv(v_theft_url)
v_theft_df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2012,12,14,8,52,NaN,Oakridge,491285.0000,5.453433e+06
1,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.9648,5.457110e+06
2,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.7798,5.459174e+06
3,Break and Enter Commercial,2021,4,26,4,44,10XX ALBERNI ST,West End,491007.7798,5.459174e+06
4,Break and Enter Commercial,2014,8,8,5,13,10XX ALBERNI ST,West End,491015.9434,5.459166e+06