# Cleaning theft data

In [1]:
# Dependencies and Setup
import pandas as pd
import utm

# Loading and cleaning theft data for Ottawa

In [2]:
# Ottawa bike thefts file to load 
o_theft_url = "Resources/ottawa_bike_theft.csv"

# Read file and store into Pandas data frame
o_theft_df = pd.read_csv(o_theft_url)
o_theft_df

,X,Y,ID,Ottawa__Police_Division,Ottawa_Police_Sector,Report_Date,Incident_StartDate,Incident_EndDate,Weekday,Location_Type,...,Bicycle_Type,Bicycle_Frame,Bicycle_Colour,Bicycle_Speed,X.1,Y.1,Census_Tract_Unique_ID,Census_Tract_Name,Object_ID,OBJECTID
0,363023.6811,5015825.440,1,West,16,2-Aug-15,2-Aug-15,2-Aug-15,1,NaN,...,REGULAR,UNISEX,Grey,0.0,363023.6811,5015825.440,5050140.07,140.07,1,0
1,362414.6759,5014626.428,2,West,16,24-Aug-15,23-Aug-15,24-Aug-15,1,NaN,...,MOUNTAIN,MEN'S,"Black, Orange",21.0,362414.6759,5014626.428,5050140.04,140.04,2,1
2,363782.6879,5016896.451,3,West,16,25-Aug-15,31-Jul-15,1-Aug-15,6,NaN,...,BMX,MEN'S,White,1.0,363782.6879,5016896.451,5050140.03,140.03,3,2
3,361526.0460,5014725.228,4,West,16,19-Sep-15,18-Sep-15,NaN,6,NaN,...,HYBRID,WOMEN'S,Dark Blue,18.0,361526.0460,5014725.228,5050141.15,141.15,4,3
4,362697.6789,5015449.436,5,West,16,16-Nov-15,13-Nov-15,16-Nov-15,6,Schools,...,RACER,UNISEX,"Silver, Aluminum, Stainless Steel",10.0,362697.6789,5015449.436,5050140.07,140.07,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6688,369034.7049,5009816.395,6689,West,36,18-Jun-16,18-Jun-16,NaN,7,NaN,...,NaN,NaN,NaN,NaN,369034.7049,5009816.395,5050201.00,201.00,6689,6688
6689,371535.7151,5033194.587,6690,Central,25,2-Jun-17,1-Jun-17,NaN,5,Other Non-commercial/ Corporate Places/ GOVT BLDG,...,NaN,NaN,NaN,NaN,371535.7151,5033194.587,5050061.00,61.00,6690,6689
6690,370159.7101,5033113.589,6691,Central,25,28-Sep-17,28-Sep-17,NaN,5,NaN,...,NaN,NaN,NaN,NaN,370159.7101,5033113.589,5050101.00,101.00,6691,6690
6691,369820.7101,5032646.585,6692,Central,25,9-Oct-18,9-Oct-18,NaN,3,Commercial / Corporate Places,...,NaN,NaN,NaN,NaN,369820.7101,5032646.585,5050101.00,101.00,6692,6691
6692,370664.7121,5033005.587,6693,Central,25,16-Oct-20,16-Oct-20,NaN,6,NaN,...,NaN,NaN,NaN,NaN,370664.7121,5033005.587,5050100.00,100.00,6693,6692

In [3]:
#o_theft_df.dtypes

In [4]:
#converting value object to datetime
o_theft_df['Incident_StartDate']= pd.to_datetime(o_theft_df['Incident_StartDate'])

#o_theft_df.dtypes

In [5]:
#checking any null values
o_theft_df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6693 entries, 0 to 6692
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   X                        6693 non-null   float64
 1   Y                        6693 non-null   float64
 2   ID                       6693 non-null   int64
 3   Ottawa__Police_Division  6693 non-null   object
 4   Ottawa_Police_Sector     6693 non-null   int64
 5   Report_Date              6636 non-null   object
 6   Incident_StartDate       6636 non-null   datetime64[ns]
 7   Incident_EndDate         6015 non-null   object
 8   Weekday                  6693 non-null   int64
 9   Location_Type            2318 non-null   object
 10  Primary_Offence          6693 non-null   object
 11  ONS_Neighbourhood_2019   6693 non-null   object
 12  Bicycle_Status           6693 non-null   object
 13  Bicycle_Value            5942 non-null   float64
 14  Bicycle_Make             6683 non-null   object
 15  Bicycle_Model            6685 non-null   object
 16  Bicycle_Type             6399 non-null   object
 17  Bicycle_Frame            6346 non-null   object
 18  Bicycle_Colour           6225 non-null   object
 19  Bicycle_Speed            5726 non-null   float64
 20  X.1                      6693 non-null   float64
 21  Y.1                      6693 non-null   float64
 22  Census_Tract_Unique_ID   6405 non-null   float64
 23  Census_Tract_Name        6405 non-null   float64
 24  Object_ID                6693 non-null   int64
 25  OBJECTID                 6693 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(5), object(12)
memory usage: 5.6 MB

In [6]:
o_theft_clean_df = o_theft_df.dropna(subset=['Incident_StartDate'])

In [7]:
#creatign separate columns for yyyy, mm, dd
o_theft_clean_df['DAY'] = o_theft_clean_df['Incident_StartDate'].dt.day
o_theft_clean_df['MONTH'] = o_theft_clean_df['Incident_StartDate'].dt.month
o_theft_clean_df['YEAR'] = o_theft_clean_df['Incident_StartDate'].dt.year
o_theft_clean_df['WEEKDAY'] = o_theft_clean_df['Incident_StartDate'].dt.day_name()

/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:
#selecting the relevant sample: 1-jan-2018 through 31-dec-2020
#o_theft_clean_df = o_theft_clean_df.loc[(o_theft_clean_df['Year_Incident'] >= 2018) & (o_theft_clean_df['Year_Incident'] <= 2020),:]
o_theft_clean_df = o_theft_clean_df.loc[(o_theft_clean_df['Incident_StartDate'] >= '2018-1-1') & (o_theft_clean_df['Incident_StartDate'] <= '2020-12-31'),:]
o_theft_filt_df = o_theft_clean_df[['Incident_StartDate','YEAR', 'MONTH', 'DAY','WEEKDAY', 'X', 'Y']]
o_theft_filt_df

     Incident_StartDate  YEAR  MONTH  DAY   WEEKDAY            X            Y
20           2018-05-17  2018      5   17  Thursday  362989.6811  5015885.441
21           2018-06-15  2018      6   15    Friday  363095.6819  5015986.442
22           2018-09-20  2018      9   20  Thursday  362193.6729  5014083.423
23           2019-05-06  2019      5    6    Monday  362524.6789  5016024.441
24           2019-05-13  2019      5   13    Monday  362132.6740  5014518.427
...                 ...   ...    ...  ...       ...          ...          ...
6684         2019-06-18  2019      6   18   Tuesday  375194.7321  5032311.570
6686         2018-07-17  2018      7   17   Tuesday  364100.6819  5014888.478
6687         2019-06-03  2019      6    3    Monday  366093.7041  5015071.682
6691         2018-10-09  2018     10    9   Tuesday  369820.7101  5032646.585
6692         2020-10-16  2020     10   16    Friday  370664.7121  5033005.587

[3341 rows x 7 columns]

In [9]:
#convert UTM to Latitude and Longitude
lat,lng = utm.to_latlon(o_theft_filt_df["X"], o_theft_filt_df["Y"], 18, 'T')

o_theft_filt_df['LAT'] = lat
o_theft_filt_df['LNG'] = lng

#o_theft_filt_df['Coordinates'] = coor_df['Lat'].astype(str) +", " + coor_df['Lng'].astype(str)
o_theft_filt_df

/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Incident_StartDate,YEAR,MONTH,DAY,WEEKDAY,X,Y,LAT,LNG
20,2018-05-17,2018,5,17,Thursday,362989.6811,5015885.441,45.283108,-76.746999
21,2018-06-15,2018,6,15,Friday,363095.6819,5015986.442,45.284038,-76.745676
22,2018-09-20,2018,9,20,Thursday,362193.6729,5014083.423,45.266740,-76.756644
23,2019-05-06,2019,5,6,Monday,362524.6789,5016024.441,45.284268,-76.752964
24,2019-05-13,2019,5,13,Monday,362132.6740,5014518.427,45.270641,-76.757542
...,...,...,...,...,...,...,...,...,...
6684,2019-06-18,2019,6,18,Tuesday,375194.7321,5032311.570,45.433183,-76.595587
6686,2018-07-17,2018,7,17,Tuesday,364100.6819,5014888.478,45.274354,-76.732566
6687,2019-06-03,2019,6,3,Monday,366093.7041,5015071.682,45.276385,-76.707218
6691,2018-10-09,2018,10,9,Tuesday,369820.7101,5032646.585,45.435217,-76.664352
6692,2020-10-16,2020,10,16,Friday,370664.7121,5033005.587,45.438604,-76.653660

In [10]:
#saving clean data into csv
output_file = "data_sets/o_theft_clean.csv"
o_theft_filt_df.to_csv(output_file, index = False)

# Loading and cleaning theft data for Vancouver

In [11]:
# Vancouver bike thefts file to load 
v_theft_url = "Resources/vanc_bike_theft.csv"

# Read file and store into Pandas data frame
v_theft_df = pd.read_csv(v_theft_url)
v_theft_df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2012,12,14,8,52,NaN,Oakridge,491285.0000,5.453433e+06
1,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.9648,5.457110e+06
2,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.7798,5.459174e+06
3,Break and Enter Commercial,2021,4,26,4,44,10XX ALBERNI ST,West End,491007.7798,5.459174e+06
4,Break and Enter Commercial,2014,8,8,5,13,10XX ALBERNI ST,West End,491015.9434,5.459166e+06

In [12]:
v_theft_df.TYPE.unique()

array(['Break and Enter Commercial', 'Break and Enter Residential/Other',
       'Homicide', 'Mischief', 'Offence Against a Person', 'Other Theft',
       'Theft from Vehicle', 'Theft of Bicycle', 'Theft of Vehicle',
       'Vehicle Collision or Pedestrian Struck (with Fatality)',
       'Vehicle Collision or Pedestrian Struck (with Injury)'],
      dtype=object)

In [13]:
#cleaning data and selecting relevant sample
v_theft_clean_df = v_theft_df.loc[(v_theft_df['TYPE'] == 'Theft of Bicycle') & (v_theft_df['YEAR'] >= 2018) & (v_theft_df['YEAR'] <= 2020),:]
v_theft_clean_df['Incident_Date'] = v_theft_clean_df['YEAR'].astype(str) +"-" + v_theft_clean_df['MONTH'].astype(str)+"-" + v_theft_clean_df['DAY'].astype(str)
v_theft_clean_df['Incident_Date']= pd.to_datetime(v_theft_clean_df['Incident_Date'])
v_theft_clean_df['WEEKDAY'] = v_theft_clean_df['Incident_Date'].dt.day_name()

v_theft_filt_df = v_theft_clean_df[['Incident_Date', 'YEAR', 'MONTH', 'DAY','WEEKDAY', 'X', 'Y']]

#v_theft_filt_df

/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [14]:
v_theft_filt_df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6368 entries, 692397 to 726274
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Incident_Date  6368 non-null   datetime64[ns]
 1   YEAR           6368 non-null   int64
 2   MONTH          6368 non-null   int64
 3   DAY            6368 non-null   int64
 4   WEEKDAY        6368 non-null   object
 5   X              6368 non-null   float64
 6   Y              6368 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 747.1 KB

In [15]:
#convert UTM to Latitude and Longitude
lat,lng = utm.to_latlon(v_theft_filt_df["X"], v_theft_filt_df["Y"], 10, 'N')

v_theft_filt_df['LAT'] = lat
v_theft_filt_df['LNG'] = lng

#o_theft_filt_df['Coordinates'] = coor_df['Lat'].astype(str) +", " + coor_df['Lng'].astype(str)
v_theft_filt_df

/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/AKpython/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Incident_Date,YEAR,MONTH,DAY,WEEKDAY,X,Y,LAT,LNG
692397,2018-07-29,2018,7,29,Sunday,491104.2910,5.459077e+06,49.284384,-123.122320
692416,2019-08-05,2019,8,5,Monday,490847.1395,5.458873e+06,49.282539,-123.125851
692420,2019-09-12,2019,9,12,Thursday,490863.9836,5.458842e+06,49.282263,-123.125618
692428,2018-06-03,2018,6,3,Sunday,490903.5756,5.458801e+06,49.281892,-123.125073
692429,2018-06-05,2018,6,5,Tuesday,490903.5756,5.458801e+06,49.281892,-123.125073
...,...,...,...,...,...,...,...,...,...
726260,2020-12-05,2020,12,5,Saturday,492368.7112,5.457399e+06,49.269308,-123.104901
726261,2018-09-25,2018,9,25,Tuesday,492304.6893,5.453646e+06,49.235540,-123.105709
726263,2019-04-30,2019,4,30,Tuesday,492369.6640,5.456889e+06,49.264717,-123.104878
726271,2019-02-22,2019,2,22,Friday,492412.6782,5.458757e+06,49.281517,-123.104323
726274,2018-08-15,2018,8,15,Wednesday,496988.7905,5.457096e+06,49.266615,-123.041390

In [16]:
#saving clean data into csv
output_file_v = "data_sets/v_theft_clean.csv"
v_theft_filt_df.to_csv(output_file_v, index = False)

Theft Analysis of Ottawa bike thefts