# STARTING CLEANING FOR BIKE VOLUME DATA SETS

In [1]:
# Dependencies and Setup
import pandas as pd

# Files to Load
OTT_BV_2018_LOAD = "Resources/Ottawa_Bike_Volume_2018.csv"
OTT_BV_2019_LOAD = "Resources/Ottawa_Bike_Volume_2019.csv"
OTT_BV_2020_LOAD = "Resources/Ottawa_Bike_Volume_2020.csv"
VAC_BV_2018to2020_LOAD = "Resources/Vancouver_Bike_Volume_2018-2020.csv"

# Read files and store into Pandas data frame
OTT_BV_2018 = pd.read_csv(OTT_BV_2018_LOAD)
OTT_BV_2019 = pd.read_csv(OTT_BV_2019_LOAD)
OTT_BV_2020 = pd.read_csv(OTT_BV_2020_LOAD)
VAC_BV_2018to2020 = pd.read_csv(VAC_BV_2018to2020_LOAD)

# Appending all Ottawa Bike Volume Date Sets into one

In [2]:
OTT_BV_2018to2020=OTT_BV_2018.append(OTT_BV_2019)
OTT_BV_2018to2020=OTT_BV_2018to2020.append(OTT_BV_2020)
OTT_BV_2018to2020.head()

,Date,1^ALEX,2^ORPY,3^COBY,5^LMET,8^SOMO,10^OGLD,11 OBVW,12a^ADAWE,12b^ADAWE,4^CRTZ,Unnamed: 10,Note:,1. ALEX: internal Battery failed in August 2019.
0,Mon 1 Jan 2018,7.0,12.0,4.0,26.0,0.0,83.0,5.0,37.0,390.0,NaN,NaN,NaN,NaN
1,Tue 2 Jan 2018,55.0,9.0,37.0,153.0,2.0,104.0,5.0,87.0,491.0,NaN,NaN,NaN,NaN
2,Wed 3 Jan 2018,100.0,12.0,67.0,242.0,36.0,66.0,8.0,134.0,609.0,NaN,NaN,NaN,NaN
3,Thu 4 Jan 2018,112.0,10.0,51.0,300.0,18.0,64.0,6.0,131.0,561.0,NaN,NaN,NaN,NaN
4,Fri 5 Jan 2018,46.0,1.0,37.0,158.0,2.0,27.0,2.0,65.0,295.0,NaN,NaN,NaN,NaN

In [3]:
#explore OTT_BV_2018to2020 for cleaning

#split data column to extract Day of Week, Day, Month, and Year
#split country columns
OTT_BV_2018to2020[['Day of week','Day','Month',"Year"]] = OTT_BV_2018to2020.Date.str.split(" ",expand=True)
OTT_BV_2018to2020

,Date,1^ALEX,2^ORPY,3^COBY,5^LMET,8^SOMO,10^OGLD,11 OBVW,12a^ADAWE,12b^ADAWE,4^CRTZ,Unnamed: 10,Note:,1. ALEX: internal Battery failed in August 2019.,Day of week,Day,Month,Year
0,Mon 1 Jan 2018,7.0,12.0,4.0,26.0,0.0,83.0,5.0,37.0,390.0,NaN,NaN,NaN,NaN,Mon,1,Jan,2018
1,Tue 2 Jan 2018,55.0,9.0,37.0,153.0,2.0,104.0,5.0,87.0,491.0,NaN,NaN,NaN,NaN,Tue,2,Jan,2018
2,Wed 3 Jan 2018,100.0,12.0,67.0,242.0,36.0,66.0,8.0,134.0,609.0,NaN,NaN,NaN,NaN,Wed,3,Jan,2018
3,Thu 4 Jan 2018,112.0,10.0,51.0,300.0,18.0,64.0,6.0,131.0,561.0,NaN,NaN,NaN,NaN,Thu,4,Jan,2018
4,Fri 5 Jan 2018,46.0,1.0,37.0,158.0,2.0,27.0,2.0,65.0,295.0,NaN,NaN,NaN,NaN,Fri,5,Jan,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,Sun 27 Dec 2020,36.0,38.0,48.0,37.0,NaN,55.0,15.0,78.0,1591.0,67.0,NaN,NaN,NaN,Sun,27,Dec,2020
362,Mon 28 Dec 2020,41.0,12.0,27.0,38.0,NaN,33.0,12.0,65.0,1106.0,42.0,NaN,NaN,NaN,Mon,28,Dec,2020
363,Tue 29 Dec 2020,39.0,15.0,33.0,61.0,NaN,47.0,5.0,69.0,1683.0,53.0,NaN,NaN,NaN,Tue,29,Dec,2020
364,Wed 30 Dec 2020,39.0,15.0,26.0,36.0,NaN,58.0,9.0,53.0,1113.0,38.0,NaN,NaN,NaN,Wed,30,Dec,2020
365,Thu 31 Dec 2020,60.0,15.0,47.0,60.0,NaN,53.0,6.0,77.0,1461.0,58.0,NaN,NaN,NaN,Thu,31,Dec,2020

In [4]:
#identify which columns have NAN values and how many
OTT_BV_2018to2020.isnull().sum(axis = 0)

Date                                                   0
1^ALEX                                               317
2^ORPY                                               225
3^COBY                                               215
5^LMET                                                40
8^SOMO                                               799
10^OGLD                                                7
11 OBVW                                                3
12a^ADAWE                                             30
12b^ADAWE                                             30
4^CRTZ                                               365
Unnamed: 10                                         1096
Note:                                               1096
1. ALEX: internal Battery failed in August 2019.    1095
Day of week                                            0
Day                                                    0
Month                                                  0
Year                                                   0
dtype: int64

In [5]:
#1. ALEX: internal Battery failed in August 2019.
#2. LMET: Inbound counter was damaged from March 16 to April 24. (2019)

#deleting empty and not columns
OTT_BV_2018to2020=OTT_BV_2018to2020.drop(['Unnamed: 10', 'Note:',"1. ALEX: internal Battery failed in August 2019."], axis=1)
OTT_BV_2018to2020.isnull().sum(axis = 0)

Date             0
1^ALEX         317
2^ORPY         225
3^COBY         215
5^LMET          40
8^SOMO         799
10^OGLD          7
11 OBVW          3
12a^ADAWE       30
12b^ADAWE       30
4^CRTZ         365
Day of week      0
Day              0
Month            0
Year             0
dtype: int64

In [6]:
#replace the NAN value with 0 for these columns: 1^ALEX , 2^ORPY , 3^COBY ,4^CRTZ,5^LMET, 8^SOMO , 10^OGLD , 11 OBVW
OTT_BV_2018to2020['1^ALEX'] = OTT_BV_2018to2020['1^ALEX'].fillna(0)
OTT_BV_2018to2020['2^ORPY'] = OTT_BV_2018to2020['2^ORPY'].fillna(0)
OTT_BV_2018to2020['3^COBY'] = OTT_BV_2018to2020['3^COBY'].fillna(0)
OTT_BV_2018to2020['4^CRTZ'] = OTT_BV_2018to2020['4^CRTZ'].fillna(0)
OTT_BV_2018to2020['5^LMET'] = OTT_BV_2018to2020['5^LMET'].fillna(0)
OTT_BV_2018to2020['8^SOMO'] = OTT_BV_2018to2020['8^SOMO'].fillna(0)
OTT_BV_2018to2020['10^OGLD'] = OTT_BV_2018to2020['10^OGLD'].fillna(0)
OTT_BV_2018to2020['11 OBVW'] = OTT_BV_2018to2020['11 OBVW'].fillna(0)
OTT_BV_2018to2020['12a^ADAWE'] = OTT_BV_2018to2020['12a^ADAWE'].fillna(0)
OTT_BV_2018to2020['12b^ADAWE'] = OTT_BV_2018to2020['12b^ADAWE'].fillna(0)

#check null values now
OTT_BV_2018to2020.isnull().sum(axis = 0)

Date           0
1^ALEX         0
2^ORPY         0
3^COBY         0
5^LMET         0
8^SOMO         0
10^OGLD        0
11 OBVW        0
12a^ADAWE      0
12b^ADAWE      0
4^CRTZ         0
Day of week    0
Day            0
Month          0
Year           0
dtype: int64

In [7]:
#create a summed column of all bike counters
OTT_BV_2018to2020['Total Bike Volume']=OTT_BV_2018to2020.iloc[:, 1:11].sum(axis=1)
OTT_BV_2018to2020.head()

,Date,1^ALEX,2^ORPY,3^COBY,5^LMET,8^SOMO,10^OGLD,11 OBVW,12a^ADAWE,12b^ADAWE,4^CRTZ,Day of week,Day,Month,Year,Total Bike Volume
0,Mon 1 Jan 2018,7.0,12.0,4.0,26.0,0.0,83.0,5.0,37.0,390.0,0.0,Mon,1,Jan,2018,564.0
1,Tue 2 Jan 2018,55.0,9.0,37.0,153.0,2.0,104.0,5.0,87.0,491.0,0.0,Tue,2,Jan,2018,943.0
2,Wed 3 Jan 2018,100.0,12.0,67.0,242.0,36.0,66.0,8.0,134.0,609.0,0.0,Wed,3,Jan,2018,1274.0
3,Thu 4 Jan 2018,112.0,10.0,51.0,300.0,18.0,64.0,6.0,131.0,561.0,0.0,Thu,4,Jan,2018,1253.0
4,Fri 5 Jan 2018,46.0,1.0,37.0,158.0,2.0,27.0,2.0,65.0,295.0,0.0,Fri,5,Jan,2018,633.0

# Cleaning 2018-2020 Vancouver Bike Volume Data Set

In [8]:
#Analysing Vancouver Data Set
VAC_BV_2018to2020.head()

#Splitting date
VAC_BV_2018to2020[['Month','Day',"Year"]] = VAC_BV_2018to2020.Date.str.split(" ",expand=True)
VAC_BV_2018to2020[['Day',"Comma"]] = VAC_BV_2018to2020.Day.str.split(",",expand=True)
VAC_BV_2018to2020=VAC_BV_2018to2020.drop(["Comma"], axis=1)
VAC_BV_2018to2020

,Date,Burrard at Cornwall,Canada Line Bridge at West Kent,Comox at Thurlow,Dunsmuir Viaduct,East 10th at Clark,Hornby and Robson,Lions Gate Bridge at Spirit Trail,Ontario and 11th,Point Grey at Stephens,...,Seawall at David Lam Park,Seawall at Harbour Green Park,Seawall at HMS Discovery,Seawall at Science World,Smithe at Expo,Stephens at Point Grey,Union at Hawks,Month,Day,Year
0,"August 1, 2018",8584,907,1339,3461,2739,3599,2631,2527,3381,...,5274,3581,5308,8789,1479,1043,5386,August,1,2018
1,"August 2, 2018",6883,885,1023,3095,2511,3040,2274,2261,2386,...,3846,3184,5175,7678,1402,841,4797,August,2,2018
2,"August 3, 2018",5504,683,871,2484,2087,2574,1672,1949,1970,...,3405,2824,4807,6686,1191,619,3745,August,3,2018
3,"August 4, 2018",7213,1028,1016,1462,1889,1940,2748,1881,4112,...,6813,4554,7986,8419,651,835,3605,August,4,2018
4,"August 5, 2018",6939,849,936,1406,1453,1681,2260,1598,3717,...,6527,4341,6561,7687,631,849,3328,August,5,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,"December 27, 2020",998,269,189,239,0,280,173,303,442,...,610,270,323,977,90,160,576,December,27,2020
880,"December 28, 2020",2799,785,348,633,0,690,521,885,1523,...,2287,983,1299,3293,241,426,1709,December,28,2020
881,"December 29, 2020",1441,271,244,491,0,602,242,476,525,...,874,366,429,1575,238,210,991,December,29,2020
882,"December 30, 2020",541,102,195,293,0,322,203,225,150,...,215,90,81,684,132,73,508,December,30,2020
883,"December 31, 2020",1718,339,284,503,0,565,315,534,753,...,1202,450,543,1948,192,260,1194,December,31,2020

In [9]:
#convert string months to numeric
VAC_BV_2018to2020[["Numeric Month"]]=VAC_BV_2018to2020["Month"]
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'January'),'Numeric Month']='1'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'February'),'Numeric Month']='2'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'March'),'Numeric Month']='3'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'April'),'Numeric Month']='4'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'May'),'Numeric Month']='5'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'June'),'Numeric Month']='6'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'July'),'Numeric Month']='7'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'August'),'Numeric Month']='8'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'September'),'Numeric Month']='9'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'October'),'Numeric Month']='10'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'November'),'Numeric Month']='11'
VAC_BV_2018to2020.loc[(VAC_BV_2018to2020.Month == 'December'),'Numeric Month']='12'
VAC_BV_2018to2020=VAC_BV_2018to2020.rename(columns={"Month": "Month-NonNumeric", "Numeric Month": "Month"})
VAC_BV_2018to2020

,Date,Burrard at Cornwall,Canada Line Bridge at West Kent,Comox at Thurlow,Dunsmuir Viaduct,East 10th at Clark,Hornby and Robson,Lions Gate Bridge at Spirit Trail,Ontario and 11th,Point Grey at Stephens,...,Seawall at Harbour Green Park,Seawall at HMS Discovery,Seawall at Science World,Smithe at Expo,Stephens at Point Grey,Union at Hawks,Month-NonNumeric,Day,Year,Month
0,"August 1, 2018",8584,907,1339,3461,2739,3599,2631,2527,3381,...,3581,5308,8789,1479,1043,5386,August,1,2018,8
1,"August 2, 2018",6883,885,1023,3095,2511,3040,2274,2261,2386,...,3184,5175,7678,1402,841,4797,August,2,2018,8
2,"August 3, 2018",5504,683,871,2484,2087,2574,1672,1949,1970,...,2824,4807,6686,1191,619,3745,August,3,2018,8
3,"August 4, 2018",7213,1028,1016,1462,1889,1940,2748,1881,4112,...,4554,7986,8419,651,835,3605,August,4,2018,8
4,"August 5, 2018",6939,849,936,1406,1453,1681,2260,1598,3717,...,4341,6561,7687,631,849,3328,August,5,2018,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,"December 27, 2020",998,269,189,239,0,280,173,303,442,...,270,323,977,90,160,576,December,27,2020,12
880,"December 28, 2020",2799,785,348,633,0,690,521,885,1523,...,983,1299,3293,241,426,1709,December,28,2020,12
881,"December 29, 2020",1441,271,244,491,0,602,242,476,525,...,366,429,1575,238,210,991,December,29,2020,12
882,"December 30, 2020",541,102,195,293,0,322,203,225,150,...,90,81,684,132,73,508,December,30,2020,12
883,"December 31, 2020",1718,339,284,503,0,565,315,534,753,...,450,543,1948,192,260,1194,December,31,2020,12

In [10]:
VAC_BV_2018to2020["Numeric Date"]=pd.to_datetime(VAC_BV_2018to2020[['Year', 'Month', 'Day']])
VAC_BV_2018to2020["Day of Week"] = VAC_BV_2018to2020["Numeric Date"].dt.day_name()
VAC_BV_2018to2020

,Date,Burrard at Cornwall,Canada Line Bridge at West Kent,Comox at Thurlow,Dunsmuir Viaduct,East 10th at Clark,Hornby and Robson,Lions Gate Bridge at Spirit Trail,Ontario and 11th,Point Grey at Stephens,...,Seawall at Science World,Smithe at Expo,Stephens at Point Grey,Union at Hawks,Month-NonNumeric,Day,Year,Month,Numeric Date,Day of Week
0,"August 1, 2018",8584,907,1339,3461,2739,3599,2631,2527,3381,...,8789,1479,1043,5386,August,1,2018,8,2018-08-01,Wednesday
1,"August 2, 2018",6883,885,1023,3095,2511,3040,2274,2261,2386,...,7678,1402,841,4797,August,2,2018,8,2018-08-02,Thursday
2,"August 3, 2018",5504,683,871,2484,2087,2574,1672,1949,1970,...,6686,1191,619,3745,August,3,2018,8,2018-08-03,Friday
3,"August 4, 2018",7213,1028,1016,1462,1889,1940,2748,1881,4112,...,8419,651,835,3605,August,4,2018,8,2018-08-04,Saturday
4,"August 5, 2018",6939,849,936,1406,1453,1681,2260,1598,3717,...,7687,631,849,3328,August,5,2018,8,2018-08-05,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,"December 27, 2020",998,269,189,239,0,280,173,303,442,...,977,90,160,576,December,27,2020,12,2020-12-27,Sunday
880,"December 28, 2020",2799,785,348,633,0,690,521,885,1523,...,3293,241,426,1709,December,28,2020,12,2020-12-28,Monday
881,"December 29, 2020",1441,271,244,491,0,602,242,476,525,...,1575,238,210,991,December,29,2020,12,2020-12-29,Tuesday
882,"December 30, 2020",541,102,195,293,0,322,203,225,150,...,684,132,73,508,December,30,2020,12,2020-12-30,Wednesday
883,"December 31, 2020",1718,339,284,503,0,565,315,534,753,...,1948,192,260,1194,December,31,2020,12,2020-12-31,Thursday

In [11]:
#identify which columns have NAN values and how many
VAC_BV_2018to2020.isnull().sum(axis = 0)
#no null valuse found

Date                                     0
Burrard at Cornwall                      0
Canada Line Bridge at West Kent          0
Comox at Thurlow                         0
Dunsmuir Viaduct                         0
East 10th at Clark                       0
Hornby and Robson                        0
Lions Gate Bridge at Spirit Trail        0
Ontario and 11th                         0
Point Grey at Stephens                   0
Point Grey at Volunteer Park             0
Seawall 2nd Beach Pool                   0
Seawall at Creekside Community Centre    0
Seawall at David Lam Park                0
Seawall at Harbour Green Park            0
Seawall at HMS Discovery                 0
Seawall at Science World                 0
Smithe at Expo                           0
Stephens at Point Grey                   0
Union at Hawks                           0
Month-NonNumeric                         0
Day                                      0
Year                                     0
Month                                    0
Numeric Date                             0
Day of Week                              0
dtype: int64

In [12]:
#create a summed column of all bike counters
VAC_BV_2018to2020['Total Bike Volume']=VAC_BV_2018to2020.iloc[:, 1:20].sum(axis=1)
VAC_BV_2018to2020.head()

,Date,Burrard at Cornwall,Canada Line Bridge at West Kent,Comox at Thurlow,Dunsmuir Viaduct,East 10th at Clark,Hornby and Robson,Lions Gate Bridge at Spirit Trail,Ontario and 11th,Point Grey at Stephens,...,Smithe at Expo,Stephens at Point Grey,Union at Hawks,Month-NonNumeric,Day,Year,Month,Numeric Date,Day of Week,Total Bike Volume
0,"August 1, 2018",8584,907,1339,3461,2739,3599,2631,2527,3381,...,1479,1043,5386,August,1,2018,8,2018-08-01,Wednesday,69355
1,"August 2, 2018",6883,885,1023,3095,2511,3040,2274,2261,2386,...,1402,841,4797,August,2,2018,8,2018-08-02,Thursday,59321
2,"August 3, 2018",5504,683,871,2484,2087,2574,1672,1949,1970,...,1191,619,3745,August,3,2018,8,2018-08-03,Friday,50068
3,"August 4, 2018",7213,1028,1016,1462,1889,1940,2748,1881,4112,...,651,835,3605,August,4,2018,8,2018-08-04,Saturday,68705
4,"August 5, 2018",6939,849,936,1406,1453,1681,2260,1598,3717,...,631,849,3328,August,5,2018,8,2018-08-05,Sunday,61651

In [13]:
#EXPORT CLEAN DATA SETS
VAC_BV_2018to2020.to_csv("./data_sets/VAC_BV_2018to2020.csv")
OTT_BV_2018to2020.to_csv("./data_sets/OTT_BV_2018to2020.csv")

# ENDING CLEANING FOR BIKE VOLUME DATA SETS